.square {
  aspect-ratio: 1;
  /*outline: 1px solid black;
  width: calc(100%/16);*/
  margin: 0;
}

.container {
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  padding: 0;
  outline: 4px solid #2C3333;
  background-color: white;
}

form {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

form p,
#gridSizeBtn,
input {
  color: #2C3333;
  padding: 0.4em;
  margin: 1em;
  font-size: 1em;
  font-weight: 500;
}

#gridSizeBtn {
  background-color: #2C3333;
  color: #E7F6F2;
}

input,
#gridSizeBtn {
  border-radius: 10px;
  border: 2px solid #2C3333;
}

#gridSizeBtn:hover {
  box-shadow: #2C3333 0px 7px 14px;
}

body {
  font-family: roboto, sans-serif;
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(231, 246, 242, 1) 35%, rgba(230, 245, 241, 1) 36%, rgba(165, 201, 202, 1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  color: #2C3333;
  font-weight: 900;
  font-size: 3em;
  justify-self: baseline;
  margin-bottom: 2%;
}