.square {
  aspect-ratio: 1;
  /*outline: 1px solid black;
  width: calc(100%/16);*/
  margin: 0;
}

.container {
  width: 800px;
  aspect-ratio: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  padding: 0;
  border: 1px solid black;
}

button {}